$blue:    #92afda;
$indigo:  #b9aad1;
$purple:  #ded7eb;
$pink:    #d78eb3;
$red:     #d87882;
$orange:  #ceaf96;
$yellow:  #bbac7f;
$green:   #8dc0a8;
$teal:    #6fb19d;
$cyan:    #0dcaf0;

$border-radius:               0;
$border-radius-sm:            0;
$border-radius-lg:            0;
$border-radius-xl:            0;
$border-radius-xxl:           0;
$border-radius-pill:          0;

@import "../../node_modules/bootstrap/scss/bootstrap";